@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-04-21 10:00:39
 * @version $Id$
 */

.ui-page-title{
	width: 690px;
	height: 25px;
	display: flex;
	border-bottom: 2px solid #1B88C4;
}

.ui-page-lable{
	width: 80px;
	height: 25px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align: center;
	line-height: 25px;
	color: #ffffff;
	font-size: 13px;
	font-family: "宋体";
	font-weight: bold;
	background:linear-gradient(to bottom,#2F94CE,#1B88C4);
}

.ui-page-morn{
	width: 20px;
	height: 20px;
	margin-left: 5px;
	border-radius: 5px;
	color: #ffffff;
	font-size: 15px;
	font-family: "宋体";
	text-align: center;
	line-height: 22px;
	background:linear-gradient(to bottom,#FC7D18,#FF4002);
}

.ui-page-nowway{
	width: 690px;
	height: 50px;
	border-left: 1px solid #CBCBCB;
	border-right: 1px solid #CBCBCB;
	border-bottom: 1px solid #CBCBCB;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	background:linear-gradient(to bottom,#FFFFFF,#F2F3F3);
}

.ui-nowway-time{
	display: flex;
	color: #D50008;
	font-size: 15px;
	margin-left: 5px;
	margin-top:0px;
}

.ui-nowway-sum{
	display: flex;
	font-size: 15px;
	margin-left:20px;
	margin-top:0px;
}

.ui-nowway-upnum{
	display: flex;
	color: #D50008;
	font-size: 15px;
	font-weight: bold;
	margin-left:5px;
	margin-top:0px;
}

.ui-nowway-empty{
	width: 400px;
	height: 5px;
}

.ui-nowway-downtime{
	display: flex;
	font-size: 15px;
	margin-top:-10px;
	margin-left: 5px;

}

.ui-nowway-downnum{
	display: flex;
	color: #D50008;
	font-size: 15px;
	font-weight: bold;
	font-size: 15px;
	margin-top:-10px;
	margin-left: 5px;
	margin-right: 10px;
}

.ui-nowway-subdownnum{
	display: flex;
	font-size: 15px;
	font-weight: bold;
	font-size: 15px;
	margin-top:-10px;
	margin-left: 5px;
	margin-right: 10px;
}


.ui-page-function{
	width: 690px;
	height: 25px;
	border-left: 1px solid #CBCBCB;
	border-right: 1px solid #CBCBCB;
	border-bottom: 1px solid #CBCBCB;
	display: flex;
	flex-direction: row-reverse;
	box-sizing: border-box;
}

.ui-text-print{
	margin-right: 10px;
	font-family: "黑体";
	font-size: 15px;
}

.ui-page-header{
	width: 690px;
	height: 15px;
	margin-top: 5px;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	display: flex;
	color: #666666;
	font-size: 13px;
	line-height: 14px;
}

.ui-header-road{
	width:405px;
	height: 15px;
	background-color: #CEDCE8;
	border-right: 1px solid #ffffff;
	text-align: center;
}

.ui-header-pos{
	width: 65px;
	height: 15px;
	background-color: #CEDCE8;
	border-right: 1px solid #ffffff;
	text-align: center;
}

.ui-header-fee{
	width: 70px;
	height: 15px;
	background-color: #CEDCE8;
	border-right: 1px solid #ffffff;
	text-align: center;
}

.ui-header-subfee{
	width: 80px;
	height: 15px;
	background-color: #CEDCE8;
	border-right: 1px solid #ffffff;
	text-align: center;
}

.ui-header-dist{
	width: 65px;
	height: 15px;
	background-color: #CEDCE8;
	border-right: 1px solid #ffffff;
	text-align: center;
}

.ui-page-cont{
	width: 690px;
	height: 40px;
	background-color: #F2F2F2;
	border-left: 1px solid #C0C0C0;
	border-right: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	box-sizing: border-box;
	display: flex;
	line-height: 40px;
}

.ui-cont-headtime{
	width: 100px;
	height: 40px;
	text-align: center;
}

.ui-cont-headc{
	width: 90px;
	height: 40px; 
	text-align: right;
	margin-right: 10px;
}

.ui-cont-sign{
	width: 20px;
	height: 40px;
	display: flex;
	align-items: center;
}

.ui-sign-on{
	margin-left: -5px;
	width: 13px;
	height: 13px;
	border:1px solid #FFFFFF;
	background: linear-gradient(to bottom,#4AB9E6,#26A0D9,#4AB9E6);
}

.ui-sign-off{
	margin-left: -3px;
	width: 8px;
	height: 8px;
	border:2px solid;
	border-image:linear-gradient(#4AB9E6,#26A0D9) 2 2;
	background: #FFFFFF;
}

.ui-cont-road{
	width: 290px;
	height: 40px;
	font-weight: bold;
}

.ui-cont-pos{
	width: 65px;
	height: 40px;
	font-size: 13px;
	text-align: center;
}

.ui-pos-p{
	line-height: 0;
}

.ui-cont-sum{
	width: 220px;
	height: 40px;
	display: flex;
	font-size: 13px;
	flex-direction: row-reverse;
}

.ui-sum-a{
	margin-left: 5px;
}

.ui-sum-a-last{
	margin-left: 5px;
	margin-right: 10px;
}

.ui-page-box{
	width: 690px;
	height: 40px;
	display: flex;
	background-color: #FFFFFF;
	border-bottom: 1px solid #C0C0C0;
	box-sizing: border-box;
}

.ui-box-head{
	width: 100px;
	height: 40px;
	line-height:0;
	text-align: center;
	margin-top: -5px
}

.ui-box-upp{
	font-weight: bold;
}

.ui-box-stripe{
	width: 6px;
	height: 40px;
	padding: 2px;
	background-color:#96C7D8;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
}

.ui-box-substripe{
	width: 4px;
	height: 37px;
	padding: .01em;
	line-height: 1.5;
	background: #ffffff;
	background-size: auto 1em;
	background-origin: border-box;
	background-image: linear-gradient(rgba(150,199,216,1) 50%,transparent 0);
}

.ui-box-textup{
	width: 300px;
	height: 40px;
	border-right: 1px solid #C0C0C0;
	box-sizing: border-box;
	line-height: 38px;
	padding-left: 10px;
	color: #1E8FDC;
	
}



.ui-textup-p{
	display: inline;
	font-weight: bold;
	font-size: 15px;
	background:-webkit-linear-gradient(#48B4FB,#1E8FDC);
    -webkit-background-clip:text;/*只有webkit内核支持text的剪切模式*/
    color:transparent;
}

.ui-textdown-p{
	display: inline;
	font-weight: bold;
	font-size: 15px;
	background:-webkit-linear-gradient(#6AC264,#007E54);
    -webkit-background-clip:text;/*只有webkit内核支持text的剪切模式*/
    color:transparent;
}

.ui-text-a{
	font-size: 14px;
}

.ui-box-textdown{
	width: 300px;
	height: 40px;
	border-right: 1px solid #C0C0C0;
	box-sizing: border-box;
	line-height: 38px;
	padding-left: 10px;
	color: #6AC264;
}



.ui-box-pos{
	width: 65px;
	height: 40px;
	border-right: 1px solid #C0C0C0;
}

.ui-box-fee{
	width: 70px;
	height: 40px;
	border-right: 1px solid #C0C0C0;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
}

.ui-box-subfee{
	width: 80px;
	height: 40px;
	font-size: 13px;
	text-align: center;
	line-height: 40px;
	border-right: 1px solid #C0C0C0;
}

.ui-box-dist{
	width: 65px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 13px;
}