@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-05-04 16:18:43
 * @version $Id$
 */

#myMap{
	width: 950px;
	height: 630px;
	float: left;
}

#result{
	width: 380px;
	height: 600px;
	float: right;
}

#subresult{
	width: 300px;
	height: 600px;
	position: absolute;
	top: 0;
	left: 0;
}

