#ex01{
	border:1px solid black;
	width: 560px;
	height: 230px;
	float: left;
}
.ex{
	width: 100px;
	height: 100px;
	float: left;
	background-color: #ccc;
	margin-top: 10px;
	margin-left: 10px;
}
#ex02{
	border: 1px solid black;
	width: 560px;
	height: 340px;
	float: left;
	margin-left: 0;
	margin-top: 10px;
}
#bigex{
	width: 210px;
	height: 210px;
	float: left;
	background-color: #ccc;
	margin-top: 10px;
	margin-left: 10px;
}
.ex2{
	width: 100px;
	height: 100px;
	float: left;
	background-color: #ccc;
	margin-top: 10px;
	margin-left: 10px;
}